#root {
  padding: 0;
  text-align: center;
}

body {
  background-color: #126612;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  padding: 20px;
  margin: 0;
  border-radius: 30%;
}
.start-container img {
  width: 80%;
  margin: 0 auto;
}

.start-container-option {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
}

.start-option {
  display: flex;
  flex-direction: column;
}

.start-container button {
  background-color: #b8860b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.start-container button:hover {
  background-color: #daa520;
}

.start-option label {
  color: white;
}
